* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.interface {
  position: relative;
  height: 60rem;
  width: 100vw;
  /* background-color: #0e1326; */
  background-color: rgb(197, 213, 26);
}

nav {
  position: absolute;
  background-color: #121930;
  height: 12.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 10;
}

.links-box {
  background-color: #121930;
  height: 40%;
  width: 100%;
  /* border: 1px solid white; */
}

.box-width {
  position: relative;
  /* background-color: green; */
  width: 83vw;
  height: 2rem;
  height: 100%;
  left: 3rem;
  /* border: 1px solid white; */
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: row;
}

.brand-logo {
  position: absolute;
  height: 3.5rem;
  top: 1.2rem;
  left: 3rem;
  cursor: pointer;
}

.nav-flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: row;
  color: #6a6b6e;
  width: 100%;
  flex-wrap: wrap;
  list-style: none;
  /* border: 1px solid rgb(255, 255, 255); */
  font-size: 1rem;
  font-weight: 600;
  font-family: "Open Sans";
  position: relative;
  top: -0.5rem;
}

.flex-list1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  padding-left: 26rem;
  list-style: none;
  /* border: 1px solid white; */
}

.flex-list2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  list-style: none;
  padding-right: 0.5rem;
}

.result-box {
  background-color: #121930;
  height: 30%;
  width: 100vw;
}

.box-width2 {
  position: relative;
  width: 83vw;
  height: 2rem;
  height: 100%;
  left: 3rem;
  /* border: 1px solid white; */
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: row;
}

.prompt-flex {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 100%;
}

.prompt-string {
  width: 100%;
  height: 2.5rem;
  border-radius: 8px 0px 0px 8px;
  background-color: black;
  border: 1.5px solid white;
  z-index: 5;
}

.copy-prompt {
  position: relative;
  border-radius: 8px;
  background-color: black;
  border: 1.5px solid white;
  border-left: none;
  width: 5.5rem;
  left: -0.5rem;
  height: 2.5rem;
}

.copy {
  color: white;
  font-size: 1.6rem;
}

li:hover {
  color: white;
  cursor: pointer;
}

.icons-box {
  background-color: #121930;
  height: 30%;
  width: 100vw;
}

.box-width3 {
  position: relative;
  width: 83vw;
  height: 2rem;
  height: 100%;
  left: 3rem;
  /* border: 1px solid white; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 1.4rem;
}

.icon-size {
  color: white;
  font-size: 1.6rem;
  cursor: pointer;
}

.selection-counter {
  font-family: "Open Sans";
  color: white;
  border-radius: 3rem;
  border: 1px solid #00e4ff;
  padding: 0.1rem 0.2rem;
  cursor: pointer;
}

.option-menu {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: #0e1326;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.side-menu {
  background-color: rgb(8, 11, 22);
  width: 22rem;
  height: 100vh;
  left: 0rem;
  position: absolute;
  /* border-right: 1px solid white; */
  /* z-index: 300; */
}

.side-flex {
  position: relative;
  display: flex;
  /* border: 1px solid white; */
  justify-content: space-evenly;
  flex-direction: column;
  width: 80%;
  left: 7%;
  top: 15rem;
  height: 38rem;
}

.main-menu {
  background-color: rgb(8, 11, 22);
  width: 100%;
  height: 100vh;
}

.option-box {
  padding-left: 1rem;
  padding-right: 1rem;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 3rem;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 1rem;
  /* border: 1px solid white; */
  cursor: pointer;
}

.side-title {
  font-size: 1.4rem;
  position: absolute;
  left: 4.5rem;
}

.side-title1 {
  font-size: 1.4rem;
  color: #6a6b6e;
  position: absolute;
  left: 4.5rem;
}

.subject-counter {
  border-radius: 3rem;
  border: 2px solid white;
  padding: 0.05rem 0.5rem;
  position: absolute;
  left: 13rem;
}

.subject-counter1 {
  border-radius: 3rem;
  border: 2px solid #6a6b6e;
  color: #6a6b6e;
  padding: 0.05rem 0.5rem;
  position: absolute;
  left: 13rem;
}

.fa-style {
  font-size: 1.7rem;
  position: absolute;
  left: 1.75rem;
}

.fa-style1 {
  font-size: 1.7rem;
  color: #6a6b6e;
  position: absolute;
  left: 1.75rem;
}
